<header>
    <div class="logo-nav-container">
        <a class="logo" href="./index.html">
            <img src="./images/logo-casino.png" alt="Logo Betanito 2.0">
        </a>
        
        <nav class="menu-principal">
            <ul>
                <li class="nav-actual">Inicio</li>

                <li><a href="./games/roulette.html">Ruleta</a></li>

                <li><a href="./account/transactions.html">Transacciones</a></li>

                <li><a href="./info/app.html">Información de la App</a></li>
                
                <li><a href="./info/roulette-rules.html">Reglas de la Ruleta</a></li>
            </ul>
        </nav>
    </div>

    <div class="accesos">
        <a href="./account/profile.html" class="btn btn-perfil">Perfil</a>

        <a href="./account/register.html" class="btn btn-registro">Registro</a>

        <a href="./account/login.html" class="btn btn-acceso">Inicio Sesion</a>
    </div>
</header>
