<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>{{pageTitle}} - Betanito</title>

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/images/betanito/icon.ico" type="image/x-icon">
</head>

<body>
  <div class="contenedor-principal">
    <button onclick="history.back()" class="btn btn-volver">Volver</button>

    {{{body}}}
  </div>

  <footer>
    <p>Proyecto académico - 2025</p>
  </footer>
</body>
</html>
