<main>
  <section class="contenido-izquierdo">
    <div class="texto-bienvenida">
      <h1>Bienvenido a Betanito</h1>

      <p>Disfruta del clásico juego de la Ruleta Europea en una plataforma segura y entretenida. Con gráficos de alta calidad y una experiencia de usuario excepcional, te sentirás como en un casino real desde l>

      <p>Nuestra ruleta europea ofrece mejores probabilidades para los jugadores, con un solo cero en la rueda. ¡Aprovecha nuestras promociones de bienvenida y comienza a ganar!</p>

      <a href="{{url 'roulette'}}" class="btn btn-jugar">Comenzar a jugar</a>
    </div>
  </section>

  <section class="contenido-derecho">
    <img src="/images/bg/casino.png" alt="Imagen de casino"></img>
  </section>
</main>
