<section class="form-register">
  <a href="/">
    <img src="/images/icon.ico" alt="Icono Betanito 2.0" width="20%">
  </a>

  <h3>Te damos la bienvenida a Betanito</h3>

  <form action="./register" method="post">
    <input class="controls" type="text" name="name" id="Nombres" placeholder="Nombre">

    <input class="controls" type="text" name="surname" id="Apellidos" placeholder="Apellido">

    <input class="controls" type="text" name="user" id="Usuario" placeholder="Nombre de usuario">

    <input class="controls" type="date" name="birth" id="Edades" max="2006-11-10">

    <input class="controls" type="text" name="rut" id="RUT" placeholder="RUT (sin guión ni puntos)" pattern="[0-9kK]{7,9}" title="Solo números y la letra K (7 a 9 caracteres)" >

    <input class="controls" type="email" name="mail" id="Correos" placeholder="Correo Electrónico">

    <input class="controls" type="password" name="password" id="Contraseñas" placeholder="Contraseña">

    <input class="controls" type="password" name="password-confirm" id="Contraseñas-Confirm" placeholder="Confirmar Contraseña">

    <p>Al registrarse aceptas los <a href="{{url 'aboutUs'}}">Términos y condiciones</a> de Betanito</p>

    <input class="botons-iniciar-sesion" type="submit" value="Registrar">

    <p>¿Ya tienes una cuenta? <a href="{{url 'login'}}">Inicia sesión aquí</a></p>
  </form>
</section>
