<main>
  <section class="contenido-izquierdo">
    <div class="texto-bienvenida">
      <h1>Transacciones</h1>

      <p>Aquí puedes depositar y retirar de tu cuenta del casino. El saldo (no) se actualizará automáticamente.</p>

      <h2><span class="saldo">Saldo actual: </span>$64.920 CLP</h2>

      <form id="form-deposito">
        <label for="monto-deposito">Monto a depositar:</label><br>

        <input type="number" id="monto-deposito" min="1" required>

        <button type="submit" class="btn btn-jugar">Depositar</button>
      </form>

      <form id="form-retiro">
        <label for="monto-retiro">Monto a retirar:</label><br>

        <input type="number" id="monto-retiro" min="1" required>

        <button type="submit" class="btn btn-jugar">Retirar</button>
      </form>
    </div>
  </section>

  <section class="contenido-derecho">
    <img src="/images/bg/fichas.png"></img>
  </section>
</main>
